@page
@model BankStartWeb.Pages.Customer.TransferModel
@{
}

<h1>Transfer</h1>

<form>
    <div class="form-group">
        <label asp-for="FromAccount"></label>
        <select class="form-control" asp-for="FromAccount" asp-items="@Model.AllAccounts" >
         </select>
        <span class="field-validation-error" asp-validation-for="FromAccount"></span>
    </div>

    <div class="form-group">
        <label asp-for="ToAccount">To</label>
         <select class="form-control" asp-for="ToAccount" asp-items="@Model.AllAccounts" >
         </select>
        <span class="field-validation-error" asp-validation-for="ToAccount"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount">Amount</label>
        <input class="form-control" asp-for="Amount" value="0,0"/>
        <span class="field-validation-error" asp-validation-for="Amount"></span>
    </div>

    <button type="submit" class="btn-solid-border">Withdraw</button>
    <a class="btn-solid-border" asp-page="AccountDetails" >Cancel</a>
</form>